<div class="container">
  <div class="row">
    <div class="col-md-auto md-3 bg-light">
      <h4>会員一覧</h4>
    </div>
  </div>

  <table class="table">
    <thead class="col-md-auto md-3 bg-light">
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>

    <tbody class="col-md-auto">
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id) %></td>
        <td><%= customer.email %></td>
        <td>
          <% if customer.is_deleted == true %>
          退会
          <% else customer.is_deleted == false %>
          有効
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <%= paginate @customer %>
  </div>
</div>

