<div class="container my-5">
  <div class="row">
    <div class="col-md-auto bg-light">
      <h4 class="font-weight-bold">
        会員一覧
      </h4>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-12 text-center">
      <table class="table">
        <thead class="bg-light">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <tbody class="col-md-auto">
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id) %></td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_deleted == true %>
              退会
              <% else customer.is_deleted == false %>
              <div class="text-success font-weight-bold">
                有効
              </div>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-md-12 text-center">
      <%= paginate @customers %>
    </div>
  </div>
</div>

