<div class="container">
  <div class="row">
    <h2>商品一覧</h2>
    <%#= @item.where.count %>
  </div>
  <div class="row">
    <% @items.each do |item| %>
    <%= image_tag item.image, size: "200x200", url: item_path(item.id) %></br>
    <%= item.name %></br>
    ￥<%= item.price %>
    <% end %>
  </div>
</div>